BLIZZARD_CLIENT_KEY=your_client_key_here
BLIZZARD_SECRET_KEY=your_secret_key_here
BLIZZARD_REALM_ID=3676
BLIZZARD_REGION=us
BLIZZARD_NAMESPACE=dynamic-us
BLIZZARD_LOCALE=en_US

SERVER_USER=your_user
SERVER_HOST=your_server_ip
SERVER_AUCTIONS_DIR=/mnt/archive/data/auctions
SERVER_COMMODITIES_DIR=/mnt/archive/data/commodities

COLLECTOR_AUCTIONS_DIR=/media/pi/USB-DATA/auctions
COLLECTOR_COMMODITIES_DIR=/media/pi/USB-DATA/commodities

POSTGRES_URL=postgresql://admin:Password123@localhost:5432/auctions
POSTGRES_USER=admin
POSTGRES_PASSWORD=Password123
POSTGRES_DB=auctions
